@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

body {
    margin:0;
    padding:0;
    background: linear-gradient(#e66465, #9198e5);
    background: linear-gradient (120deg, #6509BC, #E6B8FA);
    height: 100vh;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    transform: translate(-50%,-50%);
}

.content h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

